body {
    padding-top: 55px;
  }
@media (max-width: 979px) {
    body {
      padding-top: 0px;
    }
}

.preview-form {
    max-height:40rem;
    overflow-y: scroll;
}

.dropdown-preview {
    width: 30rem;
}
.dropdown-description {
    width: 25rem;
}

#sidebarMenu {
    height: 100%;
}

#sidebarMenu h4 {
    width: 100%;
}

input[type="number"] {
    max-width: 50px;
    -webkit-appearance: none; 
    -moz-appearance: textfield; 
    text-align: center;
}

#sidebarMenu span {
    min-width: 120px;
}

body {
    color: #b22222;
}

.panel {
    margin-bottom: 0;
 }